@import '../../styles.scss';

.dialog-container {
    position: relative;
    width: 504px;
    h2 {
        margin: 0;
        padding-bottom: 0;
    }
    .dialog-content {
        padding-top: 20px;
    }
    
}