.add-user-button {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

tr {
    height: 56px;
    cursor: pointer;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    th {
        text-align: left;
    }
    td {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

