

<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container"></div>
    <ul class="menu-items">
      <li routerLink=""><mat-icon>dashboard</mat-icon>Dashboard</li>
      <li routerLink="customers"><mat-icon>person</mat-icon>Customer</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <mat-icon class="mat-icon" (click)="drawer.toggle()">menu</mat-icon>
      <span>Simple CRM</span>
    </mat-toolbar>
    <div class="router-container">
    <router-outlet></router-outlet>
  </div>
  </div>

</mat-drawer-container>



